DATABASE_URL=postgres://<user>:<pass>@127.0.0.1:5432/ebooks
DATABASE_TEST_URL=postgres://<user>:<pass>@127.0.0.1:5432/test

PATH_TO_FILES='/path/to/folders/rdf-files/cache/epub/'

NUMBER_OF_THREADS=10